@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.sidebar-container {
    position: relative;
    width: 235px;
    height: 970px;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #2c3e50;
    color: #ecf0f1;
  }
  
  .content-container {
    padding-top: 20px;
  }
  .sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
  }
  .sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    font-size: larger;
    line-height: 20px;
    padding: 20px 15px 30px 20px;
    display: block;
    margin-top: 8%;
    color: #ecf0f1;
    transition: transform .2s;
    transition: background-color 0.3s ease-out;
  }
  .sidebar-navigation li:hover{
    background-color: #34495e;
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .sidebar-navigation li .fa {
    margin-right: 10px;
  }
  
  .sidebar-navigation li a:active,
  .sidebar-navigation li a:hover,
  .sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
  }
  
  .sidebar-navigation li::before {
    background-color: #2980b9;
    
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
  }
  
  .sidebar-navigation li:hover::before {
    width: 100%;
  }
  
  .sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #1abc9c;
    padding: 10px 15px 10px 30px;
  }
  
  .sidebar-navigation .header::before {
    background-color: transparent;
  }
  
  .content-container {
    padding-left: 220px;
  }
  #userimg{
    width: 100px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-top: 5%;
    margin-right: auto;
}
.home-section{
  position: relative;
  background: #ecf0f1;
  min-height: 90vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

#userimg{
  width: 100px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-top: 5%;
  margin-right: auto;
}
.container
{
    margin-left: 23%;
    margin-top: -72%;
    overflow-x: hidden;
}
.dashboard-card
{
background-color: #ffffff;
border-radius: 10px;
border: none;
width: 35%;
transition: transform .4s;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
margin: 2% 3% 5.5% 3%;
padding: 3%;
}
.dashboard-card:hover
{
  transform: scale(1.05); 
  cursor: pointer;  
}
.circle{
border-radius: 50%;
width: 30%;
height: 80px;
float: right;
background-color: #3498db;
}
#icons
{
margin-left: 26%;
margin-top: 12%;
font-size: 3.5em;
}
.text
{
font-family: 'Roboto', sans-serif;
letter-spacing: 1px;
font-size: 35px;
font-weight: bolder;
color: #2980b9;
}
.sub-text
{
font-family: 'Open Sans', sans-serif;
letter-spacing: 1px;
font-size: 20px;
font-weight: 600;
color: #7f8c8d;
}